<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
</head>
<body>
    <h1>TODOアプリ</h1>
    <form action="/add" method="POST">
        <input type="text" name="task">
        <button type="submit">追加</button>
    </form>
    <ul>
        {{range .}}
            <li>
                {{if .Done}}
                    <s>{{.Text}}</s>
                {{else}}
                    {{.Text}}
                {{end}}

                <form action="/toggle" method="POST">
                    <input type="hidden" name="toggle" value="{{.Id}}">
                    <button type="submit">
                        {{if .Done}}
                            未完了にもどす
                        {{else}}
                            完了
                        {{end}}
                    </button>
                </form>
                
                <form action="/delete" method="POST" style="display:inline;">
                    <input type="hidden" name="id" value="{{.Id}}">
                    <button type="submit">削除</button>
                </form>
            </li>
        {{end}}
    </ul>
</body>
</html>